/* 
Animation */

/* transition-property, transition-duration */

div{
  width: 100px;
  height:200px;
  border: 10px solid gray;
  border-radius: 20px;
}

.box1 {
  background-color: wheat;

  animation: myFirstAnimation 2s infinite;
}
.box2 {
  background-color: lightsalmon;

  animation: myFirstAnimation 2s infinite;
  animation-delay: 1s;
}
.box3 {
  background-color: brown;

  animation: myFirstAnimation 2s infinite;
  animation-delay: 2s;

}
.box4 {
  width: 100px;
  height: 100px;
  background-color: skyblue;

  animation: rotate 2s infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  animation-play-state: paused;
}

.box4:hover {
  animation-play-state: running;
}
/* @keyframes myFirstAnimation {
  from { width: 100px;}
  to {width: 200px;}
} */

.box5 {
  width: 100px;
  height: 100px;
  background-color: hotpink;

  animation: fillMode 3s linear 1s;
  animation-fill-mode: backwards;
}

@keyframes myFirstAnimation {
  0% {
    font-size: 20px;
  }
  50% {
    width: 500px;
    font-size: 50px;
  }
  100% {
    font-size: 20px;
  }
}

@keyframes rotate {
 from {
   transform: rotate(0);
 }
 to {
   transform: rotate(360deg);
 }
}

@keyframes fillMode {
  0% {
    background-color: palevioletred;
  }
  50% {
    width: 500px;
  }
  100% {
    background-color: purple;
  }
}
