/* 
박스 모델
  (Box Model)
 */

.box1 {
  width: 200px;
  height: 200px;
  padding: 20px;
  border: 10px solid blue;
  margin: 20px;
}

.block {
  width: auto;
  height: auto;
  background-color: burlywood;
}

.inline {
  width: auto;
  height: auto;
  background-color: cadetblue;
}

#container {
  width: 50%;
  min-height: 300px;
  height: 300px;
  background-color: lightcoral;
}

#parent {
  width: 200px;
  height: 200px;
  border: 5px solid blue;
}

#child {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 5px solid thistle;
}


body {
  margin: 0;
}

.box2 {
  width : 200px;
  height : 200px;
  margin: 10px auto 20px;
  background-color: wheat;
}

#parent-m {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  /* padding: 1px; */
  background-color: cadetblue;
}

#child-m {
  width: 50px;
  height: 50px;
  margin-top: 50px;
  background-color: indigo;
}

.box3 {
  width: 300px;
  height: 300px;
  background-color: skyblue;

  /* border-style: dotted solid;
  border-width: 10px;
  border-color: red blue; */

  border : 5px solid lightcoral;
  border-radius: 10% 10%;
}

.box {
  width: 300px;
  height: 200px;

  background-color: sandybrown;

  padding: 20px;
  border: 30px solid seagreen;
  
  box-sizing: border-box;
}
